.Skeleton-Hero {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 500px;
  gap: 2.5rem;
  padding-block: 1.5rem;

  .poster {
    width: 300px;
    aspect-ratio: 2/3;
    border-radius: 16px;
    display: none;
    flex-shrink: 0;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1;

    .year {
      width: 50px;
      height: 16px;
      border-radius: 8px;
    }

    .title {
      height: 32px;
      width: 200px;
      border-radius: 16px;
    }

    .categories {
      margin-top: .5rem;
      width: 130px;
      height: 8px;
      border-radius: 8px;
    }

    .description {
      height: 150px;
      width: min(100%, 500px);
      border-radius: 1rem;
    }
  }

  .poster,
  .year,
  .title,
  .description {
    background-color: hsl(var(--dark), .1);
    animation: pulse 1.5s ease-in-out infinite;
  }
}


.Skeleton-Credits {
  margin-block: 5rem;

  .title {
    height: 32px;
    width: 220px;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .scroller {
    width: 100%;
    border-radius: 1rem;
    height: 300px;
  }

  .title,
  .scroller {
    background-color: hsl(var(--dark), .1);
      animation: pulse 1.5s ease-in-out infinite;
  }
}

/* Animación de pulso */
@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


@media screen and (width > 800px) {
  .Skeleton-Hero {
    .poster {
      display: block;
    }
  }
}