.HeaderMain {
  color: hsl(var(--white));
  background-color: hsl(var(--primary-hue), var(--primary-saturation), 40%);
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top .3s ease;
  z-index: var(--z-10);
  perspective: 1000px;
  perspective-origin: 50%;

  &.Nav-up {
    top: calc(var(--header-height) * -1);
  }
}

.HeaderMain>.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  .Logo {
    width: 150px;
  }
}

.SearchBar {
  box-shadow: var(--shadow-md);
  opacity: 0;
  transform-origin: top;
  transition: transform .5s, opacity .3s .5s;
  transform-style: preserve-3d;
  transform: rotateX(-90deg);
  background-color: hsl(var(--white));

  &.is-visible {
    transition: transform .5s, opacity .3s 0s;
    opacity: 1;
    transform: rotate(0);
  }

}

@media screen and (width > 760px) {
  .ButtonMenu {
    display: none;
  }
}