.overlay {
  position: fixed;
  inset: 0;
  background-color: hsla(var(--dark), .5);
  backdrop-filter: blur(2px);
  z-index: var(--z-100);
  opacity: 0;
  pointer-events: none;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height));

  > main {
    flex: 1;
  }
}