*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

ul,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: transparent;
  display: inline-block;
}

input {
  width: 100%;
  height: 3rem;
  padding-inline: .75rem;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  line-height: 1;
}

img {
  width: 100%;
  object-fit: cover;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-hue: 205;
  --primary-saturation: 89%;
  --primary: 205, 89%, 53%;
  --dark: 0, 0%, 20%;
  --light: 0, 0%, 98%;
  --white: 0 , 0%, 100%;

  --z-10: 10;
  --z-100: 100;
  --z-1000: 1000;

  --header-height: 72px;

  --shadow-md: 0 0 24px 4px hsla(var(--primary-hue), var(--primary-saturation), 10%, .05);
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}


body {
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  background-color: hsl(var(--primary-hue), var(--primary-saturation), 98%);
  font-weight: 300;
  padding-top: var(--header-height);
  color: hsl(var(--dark));
}

.container {
  width: min(100%, 1280px);
  margin-inline: auto;
  padding-inline: 1.5rem;
}